<form id="start-form">
  <mat-form-field>
    <mat-label>Element</mat-label>
    <input type="text" matInput [formControl]="elementFormControl" maxlength="2" (keydown.enter)="formFilled()" />
    @if (elementFormControl.hasError('element') &&
    !elementFormControl.hasError('required')) {
    <mat-error>Die Antwort muss ein Element im Periodensystem der Elemente
      sein.</mat-error>
    } @if(elementFormControl.hasError('required')) {
    <mat-error>Ein Element ist <strong>erforderlich</strong></mat-error>
    }
  </mat-form-field>
</form>
<button id="start-button" matButton="tonal" (click)="formFilled()" [disabled]="elementFormControl.invalid">
  Antwort abgeben
</button>

<div id="info-text">
  <p class="info-item" style="top: 25vh">{{letter}}</p>
  <p class="info-item" style="top: 40vh">{{direction}}</p>
  <p class="info-item" style="top: 60vh">
    Score: {{ score }}
    <span class="score-feedback" [ngClass]="feedbackClass">
      {{ scoreFeedback }}
    </span>
  </p>
</div>